
.button {
  display: block;
  width: 100px;
  height: 100px;
	margin-bottom: 10px;
}

.modal-close-button {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
	font-weight: 700;
	font-size: 14px;
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  height: 50rem;
  background-color: #fff;
  border-radius: 20px;
	padding: 20px;
	font-size: 20px;
}

.modal-showed {
  display: block;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  background-color: rgb(0, 0, 0, 0.6);
}

.overlay-showed {
  display: block;
}

.modal__title {
	font-weight: 600;
	margin-bottom: 20px;
}

.modal__item {
	margin-bottom: 10px;
	display: block;
}