body {
	padding-top: 220px;
}

.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 85px 85px;
}

.bg-blue {
	background-color: rgb(0, 219, 219);
}

.btn-close {
	width: 30px;
	height: 30px;
	background-color: rgb(255, 255, 255);

	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.main {
	position: relative;
}

.title {
	margin-bottom: 110px;

	font-weight: 400;
	font-size: 70px;
	text-align: center;
	color: #515076;
}

.product-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}

.subtitle-btn {
	display: inline;
	margin-right: 10px;
}

.product-wrapper__background {
	position: absolute;
	top: -410px;
	left: 0px;
	z-index: -1;
}

.product-card {
	width: 340px;
	margin-right: 45px;
	margin-bottom: 45px;
	padding: 25px;
	box-shadow: 2px 2px 10px 0 rgba(81, 80, 118, 0.1);
	background: #f7f7fa;
}

.product-card__img-wrapper {
	margin-bottom: 30px;
	width: 290px;
}

.product-card__img {
	width: 100%;
}

.product-card__skin-type {
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	color: #a5a3b9;
	margin-bottom: 15px;
}

.product-card__title {
	font-weight: 700;
	font-size: 20px;
	color: #515076;
	margin-bottom: 10px;
}

.product-card__descr {
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: #515076;
	margin-bottom: 15px;
}

.product-card__structure {
	font-weight: 400;
	font-size: 13px;
	color: #515076;
	margin-bottom: 25px;
}

.product-card__structure-item {
	list-style-type: circle;
	list-style-position: inside;
	margin-top: 10px;
}

.product-card__price-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.product-card__price {
	font-weight: 700;
	font-size: 20px;
	color: #515076;
}

.product-card__price-val {
	font-weight: 400;
	font-size: 20px;
	color: #515076;
}

.product-card__btn {
	width: 80px;
	padding: 5px;
	border: 2px solid #515076;
	;
	text-align: center;

	font-weight: 400;
	font-size: 16px;
	cursor: pointer;
	transition: all .5s ease;
}

.product-card__btn:hover {
	background-color: rgb(210, 248, 225);
}

.user-registrate-btn {
	display: block;
	position: absolute;
	top: 20%;
	left: 20%;
	width: 200px;
	height: 50px;
	padding: 15px 0;
	background-color: #c59cdd;
	border-radius: 5px;

	font-size: 24px;
	font-weight: 700;
	text-align: center;

	cursor: pointer;
}

.modal-window {
	display: none;

	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.modal-window_showed {
	display: block;
}

.modal-window__overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.modal-window__window {
	width: 600px;
	min-height: 300px;
	padding: 30px 20px 20px;
	background-color: #ffffff;
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-window__btn-close {
	position: absolute;
	top: -40px;
	right: -30px;
}

.registration-form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.registration-form__input {
	margin-top: 5px;
	display: block;
	width: 90%;
	border-bottom: 2px solid #c59cdd;
}

.registration-form__date-input {
	width: 30%;
}

.registration-form__label {
	margin-bottom: 25px;
	font-size: 18px;
}

.registration-form__label .registration-form__input+.registration-form__input {
	margin-top: 20px;
}

.modal-window__btn {
	min-height: 30px;
	font-size: 24px;
	font-weight: 700;
	background-color: #c59cdd; 
	color: #ffffff;
}