body {
	padding-top: 220px;
}

.title {
	margin-bottom: 110px;

	font-weight: 400;
	font-size: 70px;
	text-align: center;
	color: #515076;
}

.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 85px 85px;
}

.product-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}

.product-wrapper__background {
	position: absolute;
	top: -410px;
	left: 0px;
	z-index: -1;
}

.product-card {
	width: 340px;
	margin-right: 45px;
	margin-bottom: 45px;
	padding: 25px;
	box-shadow: 2px 2px 10px 0 rgba(81, 80, 118, 0.1);
	background: #f7f7fa;
}

.product-card_bg-blue {
	background-color: rgb(0, 219, 219);
}

.product-card__img {
	margin-bottom: 30px;
	width: 290px;
}

.product-card__img img {
	width: 100%;
}

.product-card__skin-type {
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	color: #a5a3b9;
	margin-bottom: 15px;
}

.product-card__title {
	font-weight: 700;
	font-size: 20px;
	color: #515076;
	margin-bottom: 10px;
}

.product-card__descr {
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: #515076;
	margin-bottom: 15px;
}

.product-card__structure {
	font-weight: 400;
	font-size: 13px;
	color: #515076;
	margin-bottom: 25px;
}

.product-card__structure-item {
	list-style-type: circle;
	list-style-position: inside;
	margin-top: 10px;
}

.product-card__price-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.product-card__price {
	font-weight: 700;
	font-size: 20px;
	color: #515076;
}

.product-card__price-val {
	font-weight: 400;
	font-size: 20px;
	color: #515076;
}

.product-card__btn {
	width: 80px;
	padding: 5px;
	border: 2px solid #515076;;
	text-align: center;

	font-weight: 400;
	font-size: 16px;
	cursor: pointer;
	transition: all .5s ease;
}

.product-card__btn:hover {
	background-color: rgb(210, 248, 225);
}